%h1= "#{@weekday} Tasks"

%table
  %tr
    %th Content
    %th Day
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.content
      %td= task.day_id
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Start', start_task_path(task)
      %td= link_to 'Stop', stop_task_path(task)
      %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
= link_to 'Days', days_path
