%h1 Today's Tasks

%table
  %tr
    %th Date
    %th Name
    %th
    %th
    %th

  - @days.each do |day|
    %tr
      %td= day.date
      %td= day.name
      -#%td= day.tasks.content[0]
      %td= link_to 'Show', day
      %td= link_to 'Edit', edit_day_path(day)
      %td= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Day', new_day_path
= link_to 'Tasks', tasks_path
